<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= blog.title %></title>
  <meta name="description" content="<%= blog.description %>">
  <%- include('components/base') %>
</head>
<body>
<%- include('components/header') %>
<div class="warp">
  <form action="" method="post">
    <div class="">
      <label>标题</label>
      <input placeholder="标题" type="text" name="title">
    </div>
    <div class="">
      <label>内容</label>
      <textarea name="content" rows="15"></textarea>
    </div>
    <input type="submit" value="发布" />
  </form>
</div>
<%- include('components/footer') %>
</body>
</html>
