<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= blog.title %></title>
  <meta name="description" content="<%= blog.description %>">
  <%- include('components/base') %>
</head>
<body>
<%- include('components/header') %>
辣么美的主页
<%- include('components/footer') %>
</body>
</html>

