<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= blog.title %></title>
  <meta name="description" content="<%= blog.description %>">
  <%- include('components/base') %>
</head>
<body>
<%- include('components/header') %>
<div class="container">
  <div class="posts-box">
    <div class="media">
      <div class="media-left media-top">
        <a href="/posts?author=<%= post.author._id %>">
          <img class="media-object" src="/asset/img/<%= post.author.avatar %>" alt="...">
        </a>
        <p class="text-center">
          <small title="<%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %> | <%= post.author.bio %>"><%= post.author.name %></small>
        </p>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/posts/<%= post._id %>"><%= post.title %></a></h4>
        <p class="tag"><%= post.created_at %></p>
        <%- post.content %>
        <div class="clearfix">
          <span class="label label-info">浏览(<%= post.pv || 0 %>)</span>
          <span class="label label-info">留言(<%= post.commentsCount || 0 %>)</span>
          <% if(user && post.author._id && user._id.toString() === post.author._id.toString()){%>
          <div class="btn-group" role="group" aria-label="...">
            <a href="/posts/<%= post._id %>/edit" class="btn btn-primary btn-xs">编辑</a>
            <a href="/posts/<%= post._id %>/remove" class="btn btn-danger btn-xs">删除</a>
          </div>
          <%}%>
        </div>
        <!--文章结束-->
        <% comments.forEach(function (comment) { %>
        <div class="media">
          <div class="media-left media-top">
            <a href="/posts?author=<%= comment.author._id %>">
              <img class="media-object" src="/asset/img/<%= comment.author.avatar %>" alt="...">
            </a>
            <p class="text-center">
              <small title="<%= ({m: '男', f: '女', x: '保密'})[comment.author.gender] %> | <%= comment.author.bio %>"><%= comment.author.name %></small>
            </p>
          </div>
          <div class="media-body">
            <p class="tag"><%= comment.created_at %></p>
            <%- comment.content %>
            <div class="clearfix">
              <% if(user && comment.author._id && user._id.toString() === comment.author._id.toString()){%>
              <div class="btn-group" role="group" aria-label="...">
                <a href="/posts/<%= post._id %>/comment/<%= comment._id %>/remove" class="btn btn-danger btn-xs">删除</a>
              </div>
              <%}%>
            </div>
          </div>
        </div>
        <% }) %>
        <!--浏览结束-->
      </div>
    </div>
    <% if(user && (user._id.toString() !== post.author._id.toString())){ %>
      <form action="/posts/<%= post._id %>/comment" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">内容</label>
          <textarea class="form-control" name="content" id="exampleInputEmail1" placeholder="留言"></textarea>
        </div>
        <button type="submit" class="btn btn-default">确定</button>
      </form>
    <% } %>
  </div>
</div>
<%- include('components/footer') %>
</body>
</html>
